{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    {% for object in odject_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal text-center">{{ object | title }}</h3>
            </div>
            <img class="d-block w-60 h-30" src="{{ object.image|mediapath }}" />
            <div class="card-body">
                <h1 class="card-title pricing-card-title text-center">{{ object.price }} руб</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Категория: {{ object.category }}</li>
                    <li>Описание: {{ object.description_product |slice:":20" }}...</li>
                    <li>Дата создания: {{ object.date_of_creation }}</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-success">Купить</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
